.popups-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 390px;
  height: 844px;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popups-content {
  background: white;
  font-family: "Uber Move", sans-serif;
  color: black;
  padding: 2rem;
  border-radius: 12px;
  min-width: 250px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.popups-close {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background: #f06;
  font-family: "Uber Move", sans-serif;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
